html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption{position:relative; margin:0px; padding:0px; font-size:12px;border: 0;margin-right: 0px;}
table, tbody, tfoot, thead, tr, th, td {font-size: 12px;margin: 0px;padding: 0px;border: 0;margin-right: 0px;}

.zwork-mask{height: 100%;width: 100%;background: url("image/mask.png");position: absolute;left: 0px;top: 0px;}
.zwork-ajaxanimate{background: #EEF4F4;height: 100%;width:100%;}