.container{}
.container .header{background: url("image/logo_bg.png") repeat-x;background-color:#EEF4F4;}
.container .header .logo{width:200px;height: 46px;float: left;}
.container .header .navi{width:300px;height: 25px;line-height: 25px;float: right;margin-right: 10px;text-align: right;}
.container .header .navi a{color: #eeeeee;}
.container .footer{background:#EEF4F4; line-height: 30px;text-align: center;}