.zwork-button{height: 23px;cursor: pointer;margin: 2px;}
.zwork-button .left{width: 5px;height: 23px;background: url("image/button/button.gif") no-repeat 0 0;float: left;}
.zwork-button .center{height: 23px;background: url("image/button/button.gif") repeat-x 0 -23px;float: left;text-align: center;overflow: hidden;line-height: 20px;}
.zwork-button .right{width: 5px;height: 23px;background: url("image/button/button.gif") no-repeat 0 -46px;float: left;}

.zwork-button_hover .left{background: url("image/button/button.gif") no-repeat 0 -69px;}
.zwork-button_hover .center{background: url("image/button/button.gif") repeat-x 0 -92px;}
.zwork-button_hover .right{background: url("image/button/button.gif") no-repeat 0 -115px;}

.zwork-button_active .left{background: url("image/button/button.gif") no-repeat 0 -69px;}
.zwork-button_active .center{background: url("image/button/button.gif") repeat-x 0 -92px;}
.zwork-button_active .right{background: url("image/button/button.gif") no-repeat 0 -115px;}